<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "file:///D:/mybatis-3-mapper.dtd">
<mapper namespace="org.itstec.admin.mapper.AdminMapper">

	
	<select id="login" resultType="org.itstec.admin.entity.Admin">
		SELECT account
		FROM t_admin
		WHERE account = #{account} and pwd = #{pwd}
	</select>
	
</mapper>